# Ignore Composer controlled directories
htdocs/core
htdocs/*/contrib
/vendor

# Ignore Drupal file directories
htdocs/sites/default/files
/private

# Ignore Drupal local settings
settings.local.php

# Ignore dot files
.idea
.vagrant
d8_config/staging/.htaccess

# Ignore packages
node_modules
bower_components
