# Ignore core and vendor when managing dependencies with Composer.
htdocs/core
/vendor

# Ignore development configuration files.
settings.local.php

# Ignore paths that contain user-generated content.
htdocs/sites/*/files
/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Ignore any contrib directories.
htdocs/*/contrib

# Ignore dot files.
.idea
.vagrant
d8_config/staging/.htaccess

# Ignore libraries managed with package managers.
node_modules
bower_components
htdocs/components
